<!-- <profile-dir></profile-dir> -->

<div> <!-- class='centered' -->
	
	<h3>Create a Game!</h3> <input type="text" ng-model="gameName" placeholder="group name">
	<a ui-sref="questions({id: gameName})" class="submit-btn" ng-click="addGame( gameName )"><h3>Add Game</h3></a>
</div>
<div>
	<h3>Join a Game!</h3>
	<div ng-repeat="game in games track by $index">
		<div><span><h3>{{game.$id}}</h3></span><span><a ui-sref="questions({id: games[$index].$id})" class="submit-btn"><h3>Join Game</h3></a></span></div>

	</div>
<!-- </div>
	<a ui-sref="questions" class="btn-big-red" ng-click="addGame( gameName )"><h2>Play</h2></a>
	
</div>
 -->
