<div class="top-margin">
	<h1>You're current game is: {{gameName}}</h1>
</div>
<div class="big-card container small-margin">
	<h2>Write 5 questions</h2>
	<div>
		<h3>What is: <input class="large-font" type="text" ng-model="questions.first" placeholder="question 1"></h3>
	</div>
	<div>
		<h3>What is: <input class="large-font" type="text" ng-model="questions.second" placeholder="question 2"></h3>
	</div>
	<div>
		<h3>What is: <input class="large-font" type="text" ng-model="questions.third" placeholder="question 3"></h3>
	</div>
	<div>
		<h3>What is: <input class="large-font" type="text" ng-model="questions.fourth" placeholder="question 4"></h3>
	</div>
	<div>
		<h3>What is: <input class="large-font" type="text" ng-model="questions.fifth" placeholder="question 5"></h3>
	</div>
</div>
	<div>
		<a ui-sref="answers({id: gameName})" class="submit-btn" ng-click="addQuestions( questions )"><h2>Submit</h2></a>
	</div>

